body{
  width: 100%;
}
.card {
    margin-top: 50px;
    background: none;
    border: solid black 2px;
    background: linear-gradient(to bottom, #6aaef3, #f5f4f4);
    /* background: linear-gradient(to bottom, #d34b4b, #2d00f5); */
    padding: 0;
}
.btn-sm{
    margin: 10px;
    width: 10rem;
    align-self: center;
}


.types{
    text-align: center;
    background: none;
    font-weight: 700;
    font-size: 10px;
}

.card-title{
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .parrafo{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .ataques{
    text-align: center;
    border: 1px solid black;
    background: #6aaef3;
    color: #f5f4f4;
    font-weight: bold;
  }
  .pokedex{
    margin-top: 10px;
    text-align: center;
  }
  .close{
    text-align: right;
    
  }

  .head {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    margin-top: 10px;

    
    

  }
  .search-pokemon{
    width: 28%;
  }
  .search-button{
    width: 15%;
    background: rgb(167, 167, 167);
    color: black;
    margin-left: 10px;
  }

  @keyframes mynewmove {
    0% { top: 0; }
  50% { right: 20px; left: 10px; }
  50% { top: 20px; }
  100% { top: 0; }
}
.mas{
  width: 80%;
}

/* .card-content{
  margin-top: ;
} */